doctype html
html lang='en'
  head
    meta charset='UTF-8'
    meta name='viewport' content='width=device-width, initial-scale=1.0'
    title = content_for?(:title) ? yield(:title) + ' | JobBoard' : 'JobBoard'
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'tailwind', 'data-turbo-track': 'reload'
    = javascript_importmap_tags

  body class='min-h-screen flex flex-col bg-white text-gray-800'
    = render 'shared/navbar'

    main class='flex-1 container mx-auto px-4 py-6'
      = yield

    = render 'shared/footer'